EADP/SingaporeFloristNS/SingaporeFloristNS/Service References/SingaporeFloristWs/SingaporeFloristWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SingaporeFloristWS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63820/SingaporeFloristWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63820/SingaporeFloristWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63820/SingaporeFloristWS.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISingaporeFloristWS_GetAllProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProduct" />
  </wsdl:message>
  <wsdl:message name="ISingaporeFloristWS_GetAllProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductResponse" />
  </wsdl:message>
  <wsdl:message name="ISingaporeFloristWS_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="ISingaporeFloristWS_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="ISingaporeFloristWS_GetAllDelivery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDelivery" />
  </wsdl:message>
  <wsdl:message name="ISingaporeFloristWS_GetAllDelivery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="ISingaporeFloristWS_getAllInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllInvoice" />
  </wsdl:message>
  <wsdl:message name="ISingaporeFloristWS_getAllInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="ISingaporeFloristWS">
    <wsdl:operation name="GetAllProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ISingaporeFloristWS/GetAllProduct" message="tns:ISingaporeFloristWS_GetAllProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISingaporeFloristWS/GetAllProductResponse" message="tns:ISingaporeFloristWS_GetAllProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/ISingaporeFloristWS/GetAllOrders" message="tns:ISingaporeFloristWS_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISingaporeFloristWS/GetAllOrdersResponse" message="tns:ISingaporeFloristWS_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDelivery">
      <wsdl:input wsaw:Action="http://tempuri.org/ISingaporeFloristWS/GetAllDelivery" message="tns:ISingaporeFloristWS_GetAllDelivery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISingaporeFloristWS/GetAllDeliveryResponse" message="tns:ISingaporeFloristWS_GetAllDelivery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISingaporeFloristWS/getAllInvoice" message="tns:ISingaporeFloristWS_getAllInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISingaporeFloristWS/getAllInvoiceResponse" message="tns:ISingaporeFloristWS_getAllInvoice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISingaporeFloristWS" type="tns:ISingaporeFloristWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProduct">
      <soap:operation soapAction="http://tempuri.org/ISingaporeFloristWS/GetAllProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/ISingaporeFloristWS/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDelivery">
      <soap:operation soapAction="http://tempuri.org/ISingaporeFloristWS/GetAllDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllInvoice">
      <soap:operation soapAction="http://tempuri.org/ISingaporeFloristWS/getAllInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SingaporeFloristWS">
    <wsdl:port name="BasicHttpBinding_ISingaporeFloristWS" binding="tns:BasicHttpBinding_ISingaporeFloristWS">
      <soap:address location="http://localhost:63820/SingaporeFloristWS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>