EADP/FreshFlowerNS/FreshFlowerNS/Service References/SingaporeFloristNS/WsFreshFlowers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsFreshFlowers" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60726/WsFreshFlowers.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60726/WsFreshFlowers.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60726/WsFreshFlowers.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsFreshFlowers_GetAllAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccount" />
  </wsdl:message>
  <wsdl:message name="IWsFreshFlowers_GetAllAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IWsFreshFlowers_GetAllPOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPOrders" />
  </wsdl:message>
  <wsdl:message name="IWsFreshFlowers_GetAllPOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IWsFreshFlowers_getALLPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:getALLPayment" />
  </wsdl:message>
  <wsdl:message name="IWsFreshFlowers_getALLPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:getALLPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IWsFreshFlowers_ViewPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewPayment" />
  </wsdl:message>
  <wsdl:message name="IWsFreshFlowers_ViewPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsFreshFlowers">
    <wsdl:operation name="GetAllAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsFreshFlowers/GetAllAccount" message="tns:IWsFreshFlowers_GetAllAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsFreshFlowers/GetAllAccountResponse" message="tns:IWsFreshFlowers_GetAllAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsFreshFlowers/GetAllPOrders" message="tns:IWsFreshFlowers_GetAllPOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsFreshFlowers/GetAllPOrdersResponse" message="tns:IWsFreshFlowers_GetAllPOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getALLPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsFreshFlowers/getALLPayment" message="tns:IWsFreshFlowers_getALLPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsFreshFlowers/getALLPaymentResponse" message="tns:IWsFreshFlowers_getALLPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsFreshFlowers/ViewPayment" message="tns:IWsFreshFlowers_ViewPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsFreshFlowers/ViewPaymentResponse" message="tns:IWsFreshFlowers_ViewPayment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsFreshFlowers" type="tns:IWsFreshFlowers">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllAccount">
      <soap:operation soapAction="http://tempuri.org/IWsFreshFlowers/GetAllAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPOrders">
      <soap:operation soapAction="http://tempuri.org/IWsFreshFlowers/GetAllPOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getALLPayment">
      <soap:operation soapAction="http://tempuri.org/IWsFreshFlowers/getALLPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewPayment">
      <soap:operation soapAction="http://tempuri.org/IWsFreshFlowers/ViewPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsFreshFlowers">
    <wsdl:port name="BasicHttpBinding_IWsFreshFlowers" binding="tns:BasicHttpBinding_IWsFreshFlowers">
      <soap:address location="http://localhost:60726/WsFreshFlowers.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>